.main {
    background-color: rgb(31, 30, 30);
    padding: 40px 0 0 0;
}

.heading h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: orange;
}

.heading .text {
    color: white;
    text-align: center;
    font-size: 20px;
}

#second {
    max-width: 55%;
    margin-top: 40px;
}

.news h5 {
    color: white;
}

.text {
    color: rgba(255, 255, 255, 0.486);
}

#third h6 {
    color: white;
    text-align: center;
}

.text-1 {
    color: whitesmoke;
}

.text-2 {
    color: rgba(255, 255, 255, 0.486);
}

button {
    margin-top: 20px;
}

#third {
    margin-top: 80px;
}

section {
    /* margin-top: 30px; */
}

.icons {
    color: rgba(255, 255, 255, 0.486);
}

.icons p {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
}

.last {
    background-color: black;
    margin-top: 10px;
}

.last {
    padding: 3%;
}





/* ABOUT */


.about-img img {
    width: 100%;
    height: 30vh;
    position: relative;

}

.about h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 55px;
}

.about h2 span {
    color: red;
    font-size: 55px;
}

.about-text {
    margin-top: 20px;
    font-size: 18px;
}

#about {
    margin-top: 100px;
}

#about img {
    width: 100%;
}

.about-text {
    font-size: 15px;
}

#jumb {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    /* padding-left: 150px; */

}

.jumbotron h3 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 35px;
}

.div {
    margin-top: 50px;
    /* margin-left: 100px; */
}

.div h5 {
    font-weight: 600;
}

.jumb-text {
    font-size: 15px;
    margin-top: 10px;
    max-width: 90%;
}

.jumbotron h3 span {
    font-size: 35px;
    color: red;
}

.h5-text {
    font-size: 18px;
}

#team span {
    font-size: 35px;
    color: red;
}

#team h3 {
    font-size: 35px;
}

.team-text {
    font-size: 18px;
    font-weight: 300;
}

.team-img img {
    width: 100%;
}

.team-1-title h3 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 25px;
}

.team-1-sub-title h6 {
    font-size: 14px;
    font-weight: 500;
    color: rgba(59, 57, 57, 0.548);
}

.team-1-text {
    max-width: 90%;
}

.social-icons-list {
    display: flex;
    justify-content: space-evenly;
    max-width: 60%;
}

.social-icons-list-item a {
    font-size: 20px;
    border-radius: 50%;
}

.social-icons-list-item a:hover {
    background-color: red;
    color: rgba(59, 57, 57, 0.548);
}

.bar-text {
    font-size: 15px;
}

.main-skills {
    padding: 20px 30px 20px 30px;
}

.skills-text {
    margin-top: 40px;
    line-height: 22px;
    max-width: 90%;
    font-size: 15px;
}

.skills-sub-titles {
    margin-top: 40px;
    line-height: 22px;

}

.sub-titles-list-item {
    font-size: 15px;
    margin-top: 15px;
}

.pro-2,
.pro-3,
.pro-4,
.pro-5 {
    margin-top: 25px;
}

.about-end {
    /* position: relative; */
}

.about-end-text {
    font-style: italic;
    font-size: 15px;
    /* line-height: 15px; */
    /* max-width: 70%; */
}

.about-end-img img {
    /* position: absolute; */
    /* top: 10px; */
    /* left: 30px; */
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.about-end-img-title {
    margin-top: 35px;
    margin-left: 20px;
}

footer h6 {
    color: white;
}

.header-decor {
    display: inline-block;
    width: 20px;
    height: 3px;
    color: red;
    background: red;
    vertical-align: middle;
}

.quick-link-item {
    color: gray !important
}

.quick-link-item a {
    color: gray;
    text-decoration: none;
}

.quick-link-item a:hover {
    color: #E94654;
    text-decoration: none;
}

address .fa {
    font-weight: 400;
}